@font-face
{
	font-family: OP_Regular;
	src:url(fonts/OpenSans-Regular.ttf);
}

html {
	margin: 0;
	padding: 0;
}

body {
	font-family: OP_Regular, sans-serif ;
}

table {
   border: 1px solid black;
   border-collapse: collapse;
   border-spacing: 0;
}

table td {
   height: 30px;
   border-spacing: 0;
   padding-right: 20px;
   border-right: 1px solid grey;
   padding-left: 10px;
}

table tr {
	border-top: 1px solid grey;
}


tr:nth-child(2n) {
	background-color: #b8b8b8;
}
tr:nth-child(2n+1) {
	background-color: #e3e3e3;
}


header {
	margin-left: 50px;
	margin-bottom: 20px;
	font-size: 19px;
	margin-top: 20px;
}

.yellow {
	color: #764500;
}

.red {
	color: #FF0000;
	font-weight: 700;
}

.green {
	color: #006000;
	font-weight: 700;
}

.header {
	font-weight: 700;
	border-bottom: 2px solid black;

}

.header td {
	background-color: #8d8d8d;
	padding-right: 15px;
}


@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  letter-spacing: 1.1px;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Varela Round", sans-serif;
}

nav {
	width: 100%;
	background-color: #adadad;
	margin-top: 0;
	padding: 3px;

}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu li {
  width: 175px;
  height: 50px;
  transition: background-position-x 0.9s linear;
  text-align: center;
}
.menu li a {
  font-size: 18px;
  color: #494949;
  text-decoration: none;
  transition: all 0.45s;
}
.menu li:hover {
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
  -webkit-animation: line 1s;
          animation: line 1s;
}
.menu li:hover a {
  color: #d94f5c;
}
.menu li:not(:last-child) {
  margin-right: 30px;
}

@-webkit-keyframes line {
  0% {
    background-position-x: 390px;
  }
}

@keyframes line {
  0% {
    background-position-x: 390px;
  }
}

.buttonn {
	display: block;
	margin-bottom: 15px;
	width: 180px;
}

#login {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 60px;
  width: 210px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  margin: 20px;

}

